<!DOCTYPE html>
<html>
<head>
  <title>PayU</title>
  <%= stylesheet_link_tag    "pay_u/application", :media => "all" %>
  <%= javascript_include_tag "pay_u/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
